[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = ghnoadd@m5.asunaro-work.com
	name = TOBE-ASUNARO
[core]
	autocrlf = input
[gui]
	spellingdictionary = en
[push]
	default = current
[fetch]
	prune = true
[credential]
	helper = "!f() { /root/.vscode-server/bin/6cba118ac49a1b88332f312a8f67186f7f3c1643/node /tmp/vscode-remote-containers-4bea2c9170df9c0519fc14169daabcdbc146f8ce.js $*; }; f"
